.message {
    display: block;
}

.imageAndText {
    padding-top: 1em;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;

}

.imageAndText img {
    width: 40px;
    height: 40px;
    margin-left: 1em;

}

.text {
    display: inline-block;
    background-color: #0059b3;
    border-radius: 10px;
    padding: 0.5em;
}

.text:after {

}

.name {
    text-align: right;
    margin-right: 10px;
    color: #FFFFFF;
}

.messageText {
    text-align: right;
    margin-right: 10px;
    color: #FFFFFF;

}


.time {
    flex-direction: row-reverse;
    margin-right: 1.3em;
    display: flex;
    align-items: end;
    font-size: 0.5em;
}