.input:focus {
    border-style: none;
}

.input {
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid red;
    border-radius: 3px;
}

.errorInput:focus {
}

.error {
    display: block;
    color: red;
}
