.friendMessage {

}

.friendImageAndText {

}

.friendImageAndText img {
    width: 50px;
    margin-inline: 1em;
}

.friendText {
    display: inline-block;
    background-color: #bdbdbd;
    border-radius: 10px;
    padding: 0.5em;
}

.friendText:after {

}

.friendName {
    text-align: left;
    margin-left: 10px;
}

.friendMessageText {
    text-align: left;
    margin-left: 10px;
}

.friendTime {
    margin-inline: 1em;
}
